<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TheirCircle</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>unify</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>TheirCircle would like to access your media library</string>
	<key>NSCalendarsUsageDescription</key>
	<string>TheirCircle would like to access your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>TheirCircle would like to use your camera to detect text for your notes!</string>
	<key>NSContactsUsageDescription</key>
	<string>TheirCircle would like to access your contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TheirCircle would like to access your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TheirCircle would like to access your location when the app is in use.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TheirCircle requires your microphone to enhance livestreaming.</string>
	<key>NSMotionUsageDescription</key>
	<string>TheirCircle would like to access your motion usage.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TheirCircle requires access to photo library so you can enrich your posts and add a profile picture</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>TheirCircle would like to access your speech recognition usage.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
